html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  /* Base color*/
  --color-transparent: transparent;
}
.h-item_price {
  display: none !important;
}
